/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* bug:  */
body {overflow: hidden;}

span {
  color: grey;
}
a {
  color: white;
}

/* DEBUG:  */
/* div {border: solid white}
section {border: solid yellow}
nav {border: solid green} */

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

/* elenchi puntati:  */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  padding: 2%;
}
nav a {
  text-decoration: none;
  color: lightgrey;
}
nav a:hover {
  color: white;
  text-decoration: none;}

/* fine elenchi puntati */

/* bloccone di pagina */
.blocconedipagina {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

/* nav laterale */
.navlaterale {
  overflow: auto;
}

.navlaterale {
  width: 20%;
  height: calc(100% - 65px);
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  /* logo:  */
  .logo img {
    width: 60%;
    margin: 15px;
  }

  /* piccolanav */
  .piccolanav {
    margin-bottom: auto;
  }

  .piccolanav ul {
      display: block;
    }

  .home {
    border-left: solid lightgreen;
  }

  .home, .cerca, .libreria {
    font-size: 18px;
    margin: 5px;
    padding-left: 5px;

  }

  /* iscriviti */

  .login {
    color: grey;
    text-align: center;
    /* margin-bottom: 35px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login a {
    color: grey;
  }

  .bottoni {
    display: block;
    margin: 10px;
    padding: 1.5% 18%;
    border-radius: 30px;
  }
  .bottoni:hover {
    Font-size: 16px;
  }

  .bottone1 {
    background: white;
    color: black;
  }

  .bottone2 {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 1.5% 20.5%;

  }

  .login h5 {
    color: grey;
  }

  /* position: absolute;
  top: 0;
  left: 0; */

/* mainblock */
.mainblock {
  width: 80%;
  height: calc(100% - 65px);
  background: grey;
  /* background-image: linear-gradient(to right, #6A6102 , #282501); */
  background-image: linear-gradient(to right, #363449, #21202C);
}

a:hover {color: white}

main {
  overflow: auto;
}

/* nav sopra */
#evidenza {
  color: white;
  border-bottom: lightgreen solid 2px;
}

/* linea1top */

/* linea1:  */
main, h5, h1 {
  font-weight: bold;
}

h1 {
  color: white;
}

.linea1 {
  margin: 20px 30px;
}

.linea1top {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
}

h6 {
  align-self: flex-end;
  color: grey;
}

.linea1loghi {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px; */
}

.flex-item {
flex-basis: calc(100% / 6);
padding: 1%;
position: relative;
}

.flex-item:hover {
  opacity: 0.5;
}

.flex-item:hover i{
  display: block;
}

.flex-item img {
 max-width: 100%;
 min-height: 80%;
 margin: auto;
}

.flex-item i {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
  display: none;
  font-size: 50px;
}

/* .flex-item {
  border: solid white;
} */

h5 {
  color: white;
  text-align: center;
}

/* linea2:  */

span {
  align-self: flex-end;
  margin: 0 10px;

}


/* footer */
.player {
  width: 100%;
  height: 65px;
  background:#282828;
  display: flex;
  justify-content: flex-end;
}

/* footerleft */

/* footer center */
.buttonsection {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 15px;
  flex-wrap: wrap;
}
.buttons {
  width: 100%;
  text-align: center;
}
/* buttons */
.fa-play-circle {
  font-size: 25px;
}
.buttons i, .volumebar i {
  padding: 7px;
}
/* trackbar */
.trackbar {
  height: 4px;
  width:70%;
  background: grey;
  margin: 10px 2px;
  display: flex;
  align-items: center;
}
.pallina {
  background: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: none;
}
.trackbar:hover .pallina{
  display: block;
}

/* volume bar:  */

.volumesection {
  width: 25%;
  height: 100%;
  text-align: center;
  color: grey;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid yellow;
}

.artistabrano {
  width: 25%;
  height: 100%;
  text-align: center;
  color: grey;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  border: solid yellow;
}

i:hover {
  color: white;
}
